/* .text-stroke-white{
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
}

.marquee-wrapper{
    animation: marqueeAnimation 38s linear 0s infinite running;
}

@keyframes marqueeAnimation{
    100%{
        transform: translateX(-4600px);
    }
} */

.gola{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: orangered;
    display: inline-block;
    margin: 0.5vw 2vw;
}

.moving-text{
    white-space: nowrap;
    overflow-x: auto;
}

.moving-text h1{
    display: inline-block;
}

.moving-text::-webkit-scrollbar{
    display: none;
}

.con{
    white-space: nowrap;  
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}